<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>895881762548-ado7vfr2ahhvh44c0bkfs5f9up81t5gm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895881762548-ado7vfr2ahhvh44c0bkfs5f9up81t5gm</string>
	<key>API_KEY</key>
	<string>AIzaSyCGCslPOCbint6tFXWTCYeAy7e1kNESIe8</string>
	<key>GCM_SENDER_ID</key>
	<string>895881762548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dompham.Cheers</string>
	<key>PROJECT_ID</key>
	<string>cheers-4d12d</string>
	<key>STORAGE_BUCKET</key>
	<string>cheers-4d12d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895881762548:ios:ca4f35e08d1bc54b</string>
	<key>DATABASE_URL</key>
	<string>https://cheers-4d12d.firebaseio.com</string>
</dict>
</plist>